// Place all the styles related to the PrimeChecker controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  background-image: url(https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero.jpg);
  display: flex;
  justify-content: center;
  margin: 15%;
}
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.num_form {
  display:flex;
  flex-direction: column;
}

.num_input {
  input {
    width: -webkit-fill-available;
  }
}

.submit {
  input {
    color: white;
    background: black;
    width: -webkit-fill-available;
    margin-top: 10px;
  }
}

.result {
  overflow-wrap: anywhere;
}